:root {
    --primary-blue: #1875E8;
    --dark-blue-gradient-start: #1354A5;
    --dark-blue-gradient-mid: #041832;
    --dark-blue-gradient-end: #01080E;
    --text-color: white;
    --disabled-color: #898989;
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Chakra Petch', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

body {
    background: linear-gradient(var(--dark-blue-gradient-start) 0%, var(--dark-blue-gradient-mid) 33.33%, var(--dark-blue-gradient-mid) 66.67%, var(--dark-blue-gradient-end) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.container {
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;    
    border: 1px solid var(--primary-blue);
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
}


.container__contenido {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informaciones {
    flex: 1;
    padding: 3rem;
}

.container__boton {
    border-radius: 16px;
    background: var(--primary-blue);
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

.container__boton:disabled {
    background: var(--disabled-color);
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: var(--primary-blue);
}

.container__input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;    
    color: var(--primary-blue);
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-primary);
}

.container__botones {
    display: flex;
    gap: 2em;
}
h1 {
    font-family: var(--font-secondary);
    font-size: 72px;
    padding-bottom: 3rem;
}

p,
button {
    font-family: var(--font-primary);
}

.texto__parrafo {
    font-size: 32px;
    font-weight: 400;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}